# Byte-compiled / cache
__pycache__/
*.py[cod]
.idea/

# Virtual environments
.venv/
env/
venv/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
*.tmp

# build folder and files
build
dist
*.spec
*.bat

# FOLDERS
exports/

# Ignore the Enigma key configuration file
keys.txt

# python and exec files
*.py

# processed files
exported.json
exported.csv